In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
test_list = list(range(1000))
# list function is built-in to PYthon and will generate a list of integers from 0-1999

In [3]:
#create a numpy array
# the function i numpy that concominant to range in python is arange like a-range NOT ARRANGE
test_array = np.array(1000)
%timeit sum(test_list)
#a magic function that will time how long it takes to sum the 
# the numpy array is stored as an actual number array
# the python list is stored as seperate data bytes not connected to one another
#also the list elements in python have to be checked one by one to se if they are actual numbers
#the array already knows what it is a 64 bit integer and the calculation occurs in C++ 
# by getting the speed we are going to lose some flexibility a numpy array is not going to behave like a list
# a python LIST can contain data of different types,can be resized ie list.append, 
#the np array has to have all the same type of data and it is a fixed size

10 µs ± 545 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [4]:
%timeit np.sum(test_array)

3.24 µs ± 363 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [5]:
#this shows how numpy is faster than python ( between 10 to 100 times faster) true for any kind of arithmetic done

In [6]:
a = np.array([-1,0, 1, 100], dtype = 'int8') # i want an 8 bit integer

In [7]:
a

array([ -1,   0,   1, 100], dtype=int8)

In [8]:
#a/0

In [9]:
100 ** 2

10000

In [10]:
a ** 2

array([ 1,  0,  1, 16], dtype=int8)

In [11]:
# ah 100 squared is not 16 , there is integer overflow because of the 8 bit space we allocated
# we are going to change the type of the number in the array
b = a.astype('float32')

In [12]:
b

array([ -1.,   0.,   1., 100.], dtype=float32)

In [13]:
b/0

C:\Users\mjc341\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.
C:\Users\mjc341\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([-inf,  nan,  inf,  inf], dtype=float32)

In [14]:
np.nan == np.nan
#ask what is the np.nan is it the same thing as itself ...no because we don't know what it is
# so nan can't be found by regular nan techniuqes

False

In [15]:
#have to use isnan
# nan is not defined in the integers definition only in floats
np.isnan(np.nan)

True

Accessing numbers in NUMPY: putting them into the array , taking them out and performing calculations

In [16]:
np.zeros
#generate an array of zeros

In [17]:
np.ones
#generate and array of ones

In [18]:
np.empty
#generate an empty array
# this will make an array and temporarity fill it with whatever is in the space that np is creating the array in which will 
#will soon be replace with whatever you put into it its like holding some memory open and just showing you what happened to be in there

In [19]:
np.empty((2,2))

array([[1., 1.],
       [1., 0.]])

In [20]:
a

array([ -1,   0,   1, 100], dtype=int8)

In [21]:
#how to I retrive data from an array its similar to lists with get item and slice
#0 indexed

In [22]:
# I will recieve the number extracted form the array, its no longer in the brackets
#this is the get item syntax
a[0]

-1

In [23]:
a[-1]

100

In [24]:
#now the slice syntax
# it will be returned as an array NOT a tuple or LIST
a[0:2]

array([-1,  0], dtype=int8)

In [25]:
#get a slice by steps same as list behavior
a[::2]

array([-1,  1], dtype=int8)

In [26]:
#can put use get item to insert numbers
a[-1]  = 5

In [27]:
a

array([-1,  0,  1,  5], dtype=int8)

In [28]:
#shows that arrays are mutable you can swap in data
# now a 2 dimensional np array

In [29]:
#create an array by np.arange and then add another step called .reshape so the one dimensional array of (0-11) 
# is reshped into 2 dimension these are NOT rows and columns this is because you can have 3 dimension, 4 dimensional etc
b = np.arange(12).reshape(4,3)

In [30]:
b

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [31]:
b.shape

(4, 3)

In [32]:
#use the get item syntax to retrieve a number from the 2 dimensional array
#get item calls will always collapse the dimension
b[2,2]

8

In [33]:
b[:2,:2]

array([[0, 1],
       [3, 4]])

In [34]:
#this collapses the 2 dimensional array into 1 dimension
b[1:3,-1]

array([5, 8])

In [35]:
#this preserves the 2 dimensions
b[1:3,-1:]

array([[5],
       [8]])

In [36]:
b[:1,:1]

array([[0]])

In [37]:
#to read csv files
#np.loadtxt has a skip row call wich will then not import the headers
np.loadtxt?

In [38]:
c = np.arange(24).reshape(2,3,4)

In [39]:
# these are stacked but cant display it as such on screen
c

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [40]:
# need to have 3 get item calls get the number 17
c[1,1,1]

17

In [41]:
#get the top array only as a one dimensional array NOTE you have to use 1 get item call to collapse the dimension
# the comma is a get item call the : is a slicing call
# you have to supply the number of operators equal to the number of dimension you have
c[0,:,:]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [42]:
c[1,0,:]

array([12, 13, 14, 15])

In [43]:
#turn it into a one dim
c.flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [44]:
c.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [45]:
q = np.arange(25).reshape(5,5)

In [46]:
q

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [47]:
#top to bottom is the 1st ask and left to right is the second ask

q[4,:]

array([20, 21, 22, 23, 24])

In [48]:
q[:,1: :2]

array([[ 1,  3],
       [ 6,  8],
       [11, 13],
       [16, 18],
       [21, 23]])

In [50]:
#remember the data is held all in one location so the engine does not have to search all over the memory for the information
q[1::2, :3:2]

array([[ 5,  7],
       [15, 17]])

In [51]:
#there is a second way to retrieve data from  np arrays called fancy indexing
a = np.arange(4)
a

array([0, 1, 2, 3])

In [52]:
a[[0,3]]

array([0, 3])

In [53]:
b

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [54]:
b[[0, 2],[2,0]]

array([2, 6])

In [55]:
c

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [56]:
c[[0,1],[1,1],[2,1]]

array([ 6, 17])

In [57]:
#more common way of fancy indexing is with masks
c > 16
#what is created below is called a boolean mask

array([[[False, False, False, False],
        [False, False, False, False],
        [False, False, False, False]],

       [[False, False, False, False],
        [False,  True,  True,  True],
        [ True,  True,  True,  True]]])

In [58]:
c[c>16]
# c has not been modified c is still there

array([17, 18, 19, 20, 21, 22, 23])

In [59]:
d = c[:,1:2,1:3]
d

array([[[ 5,  6]],

       [[17, 18]]])

In [60]:
# with regular get item and slice it is a python object but a copy of this data has not been created see OWNDATA false, 
#its holding the refrnces to the locations
#so changes I make in d will affect c, d is still connected to c
d.flags

  C_CONTIGUOUS : False
  F_CONTIGUOUS : False
  OWNDATA : False
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

In [61]:
d[0,0,0]=1000

In [62]:
d

array([[[1000,    6]],

       [[  17,   18]]])

In [63]:
c

array([[[   0,    1,    2,    3],
        [   4, 1000,    6,    7],
        [   8,    9,   10,   11]],

       [[  12,   13,   14,   15],
        [  16,   17,   18,   19],
        [  20,   21,   22,   23]]])

In [64]:
# with fancy indexing a true copy is made and returns a flattened array
# fancy indexing is slower becuase its is copying data into memory
e = c[c>16]
e.flags

  C_CONTIGUOUS : True
  F_CONTIGUOUS : True
  OWNDATA : True
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

OWNDATA = TRUE with FANCY (boolean) indexing/ OWNDATA = FALSE with slice and get item

In [65]:
c.strides

(48, 16, 4)

In [66]:
e

array([1000,   17,   18,   19,   20,   21,   22,   23])

In [67]:
#d.reshape and d.T do not change the array
d

array([[[1000,    6]],

       [[  17,   18]]])

In [68]:
d.reshape(4,1)

array([[1000],
       [   6],
       [  17],
       [  18]])

In [69]:
d.T

array([[[1000,   17]],

       [[   6,   18]]])

In [72]:
d.strides

(48, 16, 4)

In [70]:
c

array([[[   0,    1,    2,    3],
        [   4, 1000,    6,    7],
        [   8,    9,   10,   11]],

       [[  12,   13,   14,   15],
        [  16,   17,   18,   19],
        [  20,   21,   22,   23]]])

In [71]:
c.flags

  C_CONTIGUOUS : True
  F_CONTIGUOUS : False
  OWNDATA : False
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

In [73]:
#extracting with fancy indexing  by using location information same number of dimensions
#provide in each dimension individual integer location for each item
q

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [75]:
q[[0,1,2,3],[1,2,3,4]]

array([ 1,  7, 13, 19])

In [77]:
q % 3

array([[0, 1, 2, 0, 1],
       [2, 0, 1, 2, 0],
       [1, 2, 0, 1, 2],
       [0, 1, 2, 0, 1],
       [2, 0, 1, 2, 0]], dtype=int32)

In [78]:
q % 3 == 0

array([[ True, False, False,  True, False],
       [False,  True, False, False,  True],
       [False, False,  True, False, False],
       [ True, False, False,  True, False],
       [False,  True, False, False,  True]])

In [79]:
q[q%3==0]

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24])

In [80]:
q +5

array([[ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])

In [84]:
q = q.astype('float64')
q[2,3] = np.nan
q

array([[ 0.,  1.,  2.,  3.,  4.],
       [ 5.,  6.,  7.,  8.,  9.],
       [10., 11., 12., nan, 14.],
       [15., 16., 17., 18., 19.],
       [20., 21., 22., 23., 24.]])

In [85]:
np.sum(q)

nan

In [86]:
#axis = 0 is up and down posiion, axis = 1 is up and down position
np.sum(q,axis =1)

array([ 10.,  35.,  nan,  85., 110.])

In [87]:
b

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [88]:
b.shape

(4, 3)

In [89]:
#can reduce along whatever axis you specify
#reduction actions like sum collapse the array to a single scaler value
np.sum(b, axis=0)

array([18, 22, 26])

In [91]:
np.sum(b, axis=-1)

array([ 3, 12, 21, 30])

In [92]:
np.sum(b, axis=1)

array([ 3, 12, 21, 30])

In [94]:
#reduction operations
np.mean(a)

1.5

In [95]:
np.std(a)

1.118033988749895

In [96]:
np.var(a)

1.25

In [97]:
np.max(a)

3

In [98]:
np.min(a)

0

In [100]:
#argmin and arg max  is the position, argmin and max will flatten the dimensions
np.argmax(a)

3

In [103]:
#unravel_index un flattens an array
np.unravel_index(np.argmax(b),b.shape)

(3, 2)

In [104]:
b

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [105]:
np.argmax(b)

11

In [106]:
b[3,2]

11